.a-message {
    padding: 42px 0 46px;
    background: #DDDDDD;

    &__inner {
        h2 {
            color: $green;
            line-height: 1.34;
            margin-bottom: 4px;

            @include md {
                margin-bottom: 12px;
            }
        }

        p {
            width: 100%;
            max-width: 1259px;
            padding-left: 144px;
            color: #484848;

            @include lg {
                padding-left: 0;
            }
        }
    }
}