.about {
    position: relative;
    padding-top: 60px;

    @include sm {
        padding-top: 56px;
    }

    @include xs {
        padding-top: 50px;
    }

    &__logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-size: 42px;
            font-weight: 400;
            display: block;
            width: 100%;
            max-width: 200px;
            text-align: center;

            @include xs {
                font-size: 32px;
            }

            img,
            svg {
                width: 100%;
                height: auto;
            }
        }
    }

    &__text-content {
        width: 100%;
        max-width: 931px;

        h2 {
            letter-spacing: 0;
            color: $purple;
            margin-bottom: 24px;
        }
    }

    &__pattern {
        margin-top: 60px;
        background: $purple;

        @include sm {
            margin-top: 56px;
        }

        @include xs {
            margin-top: 50px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}