.benefits {
    color: $white;
    padding: 95px 0;
    position: relative;
    background: $darkgreen;

    @include xs {
        padding: 60px 0;
    }

    .container {
        position: relative;
        z-index: 99;
    }

    .page-mindfulness-therapy &,
    .page-art-therapy & {
        padding-bottom: 115px;

        @include xs {
            padding-bottom: 60px;
        }
    }

    &--gray {
        color: $darkgreen;
        background: #E3E3E3;
    }

    &--green {
        background: $green;
    }

    &--darkgreen {
        background: $darkgreen;
    }

    @include xxl-up {
        .col-left {
            width: 28%;
        }

        .col-right {
            width: 72%;
        }
    }

    &__title {
        position: relative;
        z-index: 2;

        h2 {
            line-height: 1.071;
        }
    }

    &__detail {
        position: relative;
        z-index: 2;

        p {
            font-size: 23px;
            line-height: 1.260;
            margin-bottom: 45px;

            @include xs {
                font-size: 18px;
            }
        }

        &--inner {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 542px;
            height: 100%;

            .page-cognitive-therapy & {
                max-width: 552px;
            }

            .page-mindfulness-therapy & {
                max-width: 582px;
            }

            p {
                margin-bottom: 50px;
            }

            ul {
                margin-top: auto;
                min-height: 314px;

                @include sm {
                    min-height: auto;
                }

                .page-creative-therapy & {
                    min-height: 342px;

                    @include sm {
                        min-height: auto;
                    }
                }

                li {
                    &:not(:last-child) {
                        margin-bottom: 28px;

                        @include xs {
                            margin-bottom: 16px;
                        }
                    }

                    display: flex;
                    align-items: center;
                    padding-left: 50px;
                    position: relative;

                    @include xs {
                        padding-left: 42px;
                    }

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31.881' height='17.398' viewBox='0 0 31.881 17.398'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_181' data-name='Rectangle 181' width='31.881' height='17.398' fill='%2355c0c2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_84' data-name='Group 84' transform='translate(0 0)'%3E%3Cg id='Group_83' data-name='Group 83' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_3689' data-name='Path 3689' d='M31.314,7.409C28.824.891,20.608-.15,15.122.016A28.3,28.3,0,0,0,6.809,1.294C4.146,2.205,1.147,3.989.321,6.86A8.921,8.921,0,0,0,0,9.206a26.554,26.554,0,0,0,.281,4.272A4.981,4.981,0,0,0,2.76,17.116a7.322,7.322,0,0,0,3,.249H26.953c4.586,0,5.787-6.224,4.361-9.957m-6.406,5.928H6.828a2.708,2.708,0,0,1-2.118-.585A5.492,5.492,0,0,1,3.532,9.184,5.714,5.714,0,0,1,4.767,5.606C6.6,3.111,9.65,1.919,12.675,1.445a9.014,9.014,0,0,0-5.606,3.2,4.573,4.573,0,0,0-.989,2.864,4.4,4.4,0,0,0,.943,2.855,2.166,2.166,0,0,0,1.695.468h14.47c2.92,0,3.233-3.487,2.325-5.578-.984-2.265-3.2-3.349-5.569-3.824,3.3.491,6.515,1.818,7.87,4.936,1.135,2.613.743,6.97-2.905,6.97' transform='translate(0 0)' fill='%2355c0c2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 32px;
                        height: 18px;
                        top: 6px;
                        left: 0;

                        @include xs {
                            background-size: 28px;
                            top: 4px;
                        }
                    }
                }

                &.text-lightbrown {
                    li {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31.881' height='17.398' viewBox='0 0 31.881 17.398'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_181' data-name='Rectangle 181' width='31.881' height='17.398' fill='%23c97a1f'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_83' data-name='Group 83' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_3689' data-name='Path 3689' d='M31.314,7.409C28.824.891,20.608-.15,15.122.016A28.3,28.3,0,0,0,6.809,1.294C4.146,2.205,1.147,3.989.321,6.86A8.921,8.921,0,0,0,0,9.206a26.554,26.554,0,0,0,.281,4.272A4.981,4.981,0,0,0,2.76,17.116a7.322,7.322,0,0,0,3,.249H26.953c4.586,0,5.787-6.224,4.361-9.957m-6.406,5.928H6.828a2.708,2.708,0,0,1-2.118-.585A5.492,5.492,0,0,1,3.532,9.184,5.714,5.714,0,0,1,4.767,5.606C6.6,3.111,9.65,1.919,12.675,1.445a9.014,9.014,0,0,0-5.606,3.2,4.573,4.573,0,0,0-.989,2.864,4.4,4.4,0,0,0,.943,2.855,2.166,2.166,0,0,0,1.695.468h14.47c2.92,0,3.233-3.487,2.325-5.578-.984-2.265-3.2-3.349-5.569-3.824,3.3.491,6.515,1.818,7.87,4.936,1.135,2.613.743,6.97-2.905,6.97' transform='translate(0 0)' fill='%23c97a1f'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }
    }

    &--green {
        .benefits__detail {
            &--inner {
                ul {
                    color: $darkgreen;

                    li {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31.881' height='17.398' viewBox='0 0 31.881 17.398'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_181' data-name='Rectangle 181' width='31.881' height='17.398' fill='%23007775'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_83' data-name='Group 83' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_3689' data-name='Path 3689' d='M31.314,7.409C28.824.891,20.608-.15,15.122.016A28.3,28.3,0,0,0,6.809,1.294C4.146,2.205,1.147,3.989.321,6.86A8.921,8.921,0,0,0,0,9.206a26.554,26.554,0,0,0,.281,4.272A4.981,4.981,0,0,0,2.76,17.116a7.322,7.322,0,0,0,3,.249H26.953c4.586,0,5.787-6.224,4.361-9.957m-6.406,5.928H6.828a2.708,2.708,0,0,1-2.118-.585A5.492,5.492,0,0,1,3.532,9.184,5.714,5.714,0,0,1,4.767,5.606C6.6,3.111,9.65,1.919,12.675,1.445a9.014,9.014,0,0,0-5.606,3.2,4.573,4.573,0,0,0-.989,2.864,4.4,4.4,0,0,0,.943,2.855,2.166,2.166,0,0,0,1.695.468h14.47c2.92,0,3.233-3.487,2.325-5.578-.984-2.265-3.2-3.349-5.569-3.824,3.3.491,6.515,1.818,7.87,4.936,1.135,2.613.743,6.97-2.905,6.97' transform='translate(0 0)' fill='%23007775'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }
    }

    &--lightbrown {
        background: $lightbrown;

        .benefits__detail {
            &--inner {
                ul {
                    color: #4B2D0B;

                    li {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31.881' height='17.398' viewBox='0 0 31.881 17.398'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_181' data-name='Rectangle 181' width='31.881' height='17.398' fill='%23c97a1f'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_84' data-name='Group 84' transform='translate(0 0)'%3E%3Cg id='Group_83' data-name='Group 83' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_3689' data-name='Path 3689' d='M31.314,7.409C28.824.891,20.608-.15,15.122.016A28.3,28.3,0,0,0,6.809,1.294C4.146,2.205,1.147,3.989.321,6.86A8.921,8.921,0,0,0,0,9.206a26.554,26.554,0,0,0,.281,4.272A4.981,4.981,0,0,0,2.76,17.116a7.322,7.322,0,0,0,3,.249H26.953c4.586,0,5.787-6.224,4.361-9.957m-6.406,5.928H6.828a2.708,2.708,0,0,1-2.118-.585A5.492,5.492,0,0,1,3.532,9.184,5.714,5.714,0,0,1,4.767,5.606C6.6,3.111,9.65,1.919,12.675,1.445a9.014,9.014,0,0,0-5.606,3.2,4.573,4.573,0,0,0-.989,2.864,4.4,4.4,0,0,0,.943,2.855,2.166,2.166,0,0,0,1.695.468h14.47c2.92,0,3.233-3.487,2.325-5.578-.984-2.265-3.2-3.349-5.569-3.824,3.3.491,6.515,1.818,7.87,4.936,1.135,2.613.743,6.97-2.905,6.97' transform='translate(0 0)' fill='%23c97a1f'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }
    }

    &--darkgreen {
        .benefits__detail {
            &--inner {
                ul {
                    color: $green;
                }
            }
        }
    }

    &__pattern {
        &--each {
            width: 100%;
            height: auto;
            position: absolute;
            user-select: none;
            pointer-events: none;
            z-index: 9;

            &__1 {
                bottom: -13.5%;
                left: 0;
                max-width: 24%;

                @include md {
                    bottom: -5.5%;
                }

                @include xs {
                    bottom: -3%;
                }

                .page-mindfulness-therapy & {
                    bottom: -12.1%;
                    max-width: 10%;
                }

                .page-cognitive-therapy & {
                    bottom: -19%;
                    max-width: 12.5%;

                    @include xs {
                        bottom: -5%;
                    }
                }

                .page-art-therapy & {
                    bottom: -3%;
                    left: 0;
                    max-width: 14.5%;
                }

                .page-play-therapy & {
                    bottom: -18%;
                    left: 0;
                    max-width: 18.1%;

                    @include md {
                        bottom: -14%;
                    }

                    @include xs {
                        bottom: -6%;
                    }
                }
            }

            &__2 {
                .page-play-therapy & {
                    bottom: -37%;
                    right: 0;
                    max-width: 24.1%;

                    @include md {
                        bottom: -10%;
                    }

                    @include xs {
                        bottom: -4%;
                    }
                }
            }
        }
    }
}