.contact-us {
    position: relative;
    z-index: 99;
    padding: calc(var(--header-height) + 78px) 0 10px;

    @include sm {
        padding: calc(var(--header-height) + 58px) 0 10px;
    }

    @include xs {
        padding: calc(var(--header-height) + 28px) 0 10px;
    }

    .container {
        position: relative;
        z-index: 9;
    }

    &__inner {
        box-shadow: 12px 12px 6px #00000026;
        margin-bottom: -60px;

        @include sm {
            margin-bottom: -32px;
        }
    }

    &__left {
        background: $white;
        padding: 60px 60px 95px;

        @include sm {
            padding: 60px 60px 70px;
        }

        @include xs {
            padding: 24px 24px 32px;
        }

        .title-block {
            margin-bottom: 42px;

            @include xs {
                margin-bottom: 24px;
            }

            h2 {
                color: $green;

                span {
                    line-height: 1.6;
                    margin-left: -33px;

                    @include sm {
                        margin-left: -23px;
                    }
                }
            }
        }

        .text-block {
            font-size: 37px;
            line-height: 1.45;
            color: $darkgreen;

            @include sm {
                font-size: 28px;
            }

            @include xs {
                font-size: 19px;
            }

            input,
            textarea {
                font-size: 37px;
                font-weight: 400;
                text-align: center;
                outline: none;
                border: none;
                box-shadow: none;
                font-style: italic;
                border-bottom: 1px solid #B5B5B5;
                color: #BCBCBC;
                padding: 0;

                &::placeholder {
                    color: #BCBCBC;
                }

                &:focus {
                    border-color: $green;
                }

                @include sm {
                    font-size: 28px;
                }

                @include xs {
                    font-size: 19px;
                    width: 100%;
                    margin: 2px 0 8px;
                }
            }

            textarea {
                text-align: left;
                width: 100%;
                height: 212px;

                @include xs {
                    height: 162px;
                }
            }
        }

        .btn-wrapper {
            margin-top: 25px;

            @include sm {
                margin-top: 48px;

                @include xs {
                    margin-top: 22px;
                }

                .btn {
                    width: 100%;
                }
            }
        }
    }

    &__right {
        color: $white;
        background: $darkgreen;
        height: 100%;
        padding: 60px;
        display: flex;
        flex-direction: column;

        @include sm {
            padding: 60px 60px 70px;
        }

        @include xs {
            padding: 24px 24px 32px;
        }

        .title-block {
            margin-bottom: 62px;

            @include xs {
                width: 100%;
                max-width: 290px;
                margin-bottom: 32px;
            }

            h2 {
                color: $green;

                span {
                    line-height: 1.6;
                    margin-left: -33px;

                    @include xs {
                        margin-left: -13px;
                    }
                }
            }
        }

        .links-block {
            .highlight-text {
                font-size: 30px;
                line-height: 1;
                padding: 22px;
                text-align: center;
                border-radius: 40px;
                background: $green;
                color: $white;
                display: block;
                outline: none;
                border: none;
                box-shadow: none;
                width: 100%;

                @include xs {
                    font-size: 17px;
                    padding: 13px;
                }
            }
        }

        .btn-block {
            .btn {
                padding: 14px 21px 13px;
                padding-right: 82px;
                min-height: 48px;
                width: 100%;

                @include xs {
                    min-height: 45px;
                }

                svg {
                    margin-right: 6px;
                    margin-top: -2px;
                }

                &::after {
                    width: 23px;
                    height: 11px;
                    right: 24px;
                }

                &:hover {
                    &::after {
                        right: 20px;
                    }
                }
            }
        }
    }

    &__pattern {
        &--each {
            width: 100%;
            height: auto;
            position: absolute;
            user-select: none;
            pointer-events: none;
            z-index: 8;

            &__1 {
                left: 0;
                top: 46%;
                max-width: 15.2%;
            }
        }
    }
}