.events {
    position: relative;
    padding: 145px 0 120px;
    background: $white;

    @include lg {
        padding: 125px 0 100px;
    }

    @include xs {
        padding: 72px 0 62px;
    }

    .container {
        max-width: 1400px;
    }

    .events__all {
        &--each {

            &:not(:last-child) {
                margin-bottom: 100px;

                @include lg {
                    margin-bottom: 80px;
                }

                @include xs {
                    margin-bottom: 56px;
                }
            }

            .title-block {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 40px;

                h2 {
                    line-height: 1;

                    &:last-of-type {
                        @include xs {
                            display: block;
                            font-size: 32px;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .description-block {
                p {
                    color: $gray;
                }

                &>p {
                    min-height: 64px;
                    margin-bottom: 24px;
                }

                .held-on {
                    ul {
                        li {
                            display: flex;
                            align-items: flex-end;
                            flex-wrap: wrap;

                            @include xxs {
                                display: block;

                                &:not(:last-child) {
                                    margin-bottom: 12px;
                                }
                            }

                            h3 {
                                font-size: 26px;
                                color: $green;
                                margin-right: 12px;
                                font-weight: 700;

                                @include xxs {
                                    display: block;
                                    font-size: 22px;
                                    margin-right: 0;
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                }

                .btn-wrapper {
                    margin-top: 32px;

                    ul {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        li {
                            padding: 8px 0;

                            &:not(:last-child) {
                                margin-right: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__pattern {

        &--each {
            width: 100%;
            height: auto;
            position: absolute;
            user-select: none;
            pointer-events: none;
            z-index: 9;

            &__1 {
                right: 0;
                top: 22%;
                max-width: 12%;
            }
        }
    }
}