.generic-image {
    position: relative;

    .image-wrapper {
        position: relative;
        z-index: -1;

        .image-ratio {
            padding-top: 39.1%;


            .page-cognitive-therapy & {
                padding-top: 33%;
            }

            .page-recreational-therapy & {
                padding-top: 45.5%;
            }

            @include xs {
                padding-top: 49.1% !important;
            }
        }
    }

    &--has-btn {
        .image-wrapper {
            .image-ratio {
                padding-top: 43%;
            }
        }

        .btn-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn {
                font-weight: 400;

                span {
                    font-weight: 300;
                    margin-right: 30px;
                }
            }
        }
    }
}