.generic-content {
    position: relative;
    background: $white;
    padding: 75px 0;

    &--green {
        background: $darkgreen;

        p {
            color: $white !important;
        }
    }

    .container {
        position: relative;
        z-index: 99;
    }

    .page-creative-therapy & {
        padding: 114px 0 96px;
    }

    .page-cognitive-therapy & {
        padding: 85px 0;
    }


    @include xs {
        padding: 60px 0 !important;
    }

    &__text {
        width: 100%;
        position: relative;
        max-width: 1172px;
        margin: 0 auto;
        z-index: 2;

        @include lg {
            max-width: 1000px;
        }

        .page-mindfulness-therapy & {
            max-width: 1402px;
        }

        .page-creative-therapy & {
            max-width: 1346px;
        }

        .page-neurobiology-therapy & {
            max-width: 1302px;
        }

        .page-recreational-therapy & {
            max-width: 1460px
        }

        .page-cognitive-therapy & {
            max-width: 1122px;
        }

        .page-services & {
            max-width: 1262px
        }

        P {
            @extend .h5;
            font-weight: 400;
            margin: 0;


            @include lg {
                br {
                    display: none;
                }
            }

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    &__pattern {
        &--each {
            width: 100%;
            height: auto;
            position: absolute;
            user-select: none;
            pointer-events: none;

            &__1 {
                top: 88%;
                left: 0;
                max-width: 31.6%;

                @include xs {
                    top: 95%;
                }
            }
        }
    }
}