.health-aid {
    position: relative;
    background: $white;
    padding: 62px 0;

    @include xs {
        padding: 60px 0;
    }

    &__title {
        color: $green;

        h2 {
            line-height: 1;
        }

        h1 {
            line-height: 1.6;
            margin-top: -30px;
            margin-left: 210px;
        }
    }

    &__body {
        .image-wrapper {
            position: relative;

            .image-ratio {
                padding-top: 42%;

                @include lg {
                    padding-top: 52%;
                }

                @include xs {
                    padding-top: 122%;
                }
            }

            .overlay {
                position: absolute;
                padding: 46px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                background: rgba(255, 255, 255, 0.6);
                top: 0;
                left: 0;

                @include lg {
                    padding: 24px;
                }

                @include xs {
                    padding: 16px;
                }

                p {
                    color: #484848;
                }

                .btn-wrapper {
                    margin-top: auto;
                }
            }
        }
    }
}