.our-team {
    position: relative;
    background: $white;
    padding-bottom: 200px;

    @include xs {
        padding-bottom: 75px;
    }

    &__all {
        margin-top: -88px;

        .col-each {
            position: relative;
            z-index: 10;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-top: -88px;
            }

            @include lg {
                &:nth-child(4) {
                    margin-top: 24px;
                }
            }

            @include md {
                &:nth-child(3) {
                    margin-top: 24px;
                }
            }

            @include xs {
                &:nth-child(2) {
                    margin-top: 24px;
                }
            }
        }
    }

    &__each {
        border: 3px solid $white;

        .image-wrapper {
            background-color: #ACA9A9;
        }

        .text-wrapper {
            color: $white;
            background: $green;
            padding: 18px 20px;
            min-height: 126px;

            @include xs {
                padding: 16px 18px;
                min-height: auto;
            }

            h6 {
                margin-bottom: 2px;
            }
        }
    }
}

.modal {
    z-index: 1041;

    .btn-close {
        margin: 0;
        padding: 0;
        width: 69px;
        height: 69px;
        opacity: 1;
        position: absolute;
        top: 42px;
        right: 42px;
        z-index: 9;

        svg {
            width: 100%;
            height: auto;
        }

        @include xs {
            width: 35px;
            height: 35px;
            top: 24px;
            right: 24px;
        }
    }

    &-dialog {
        max-width: 1689px;
    }

    &-content {
        position: relative;
        border-radius: 0;
        border: 1px solid #707070;
    }

    &-body {
        padding: 65px;

        @include xs {
            padding: 24px;
        }

        .title-block {
            margin-bottom: 40px;
            padding-right: 72px;

            @include xs {
                margin-bottom: 24px;
            }

            h2 {
                @include xs {
                    line-height: 1
                }

                span {
                    @extend .font-roboto;
                    font-size: 21px;

                    @include xs {
                        font-size: 18px;
                        display: block;
                        margin-top: 6px;
                    }
                }
            }

        }

        p {
            @include xs {
                font-size: 16px;
            }
        }
    }
}