.our-mission,
.exciting-news,
.community {
    background: #E2E2E2;
    padding: 76px 0 81px;

    @include xs {
        padding: 60px 0;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .row {
        .col-lg-4 {
            width: 35%;
        }

        .col-lg-8 {
            width: 65%;
        }
    }

    &__title {

        h2 {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
        }

        h3,
        h1 {
            line-height: 2.4;
            width: fit-content;
            margin: -68px 20px 0 133px;

            @include xs {
                margin-top: -28px;
            }
        }
    }

    &__description {
        width: 100%;
        max-width: 822px;
        padding-top: 30px;

        @include lg {
            max-width: 100%;
            padding-top: 0;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 27px;
            }
        }

        .btn-wrapper {
            margin-top: 42px;
        }
    }

}

.exciting-news {

    @include sm {
        background: $white;
    }

    &__title {

        h3,
        .h1 {
            color: $lightgray;
            margin: -64px 20px 0 166px;

            @include xs {
                margin-top: -30px;
            }
        }
    }

    &__description {
        max-width: 925px;

        @include lg {
            width: 100%;
        }
    }
}

.community {
    position: relative;
    background: $white;


    &__title {
        text-align: right;

        @include lg {
            width: fit-content;
            text-align: left;
        }

        h2 {
            margin-right: 20px;
        }

        h3,
        .h1 {
            color: $lightgray;
            margin: -38px 52px 0 auto;

            @include lg {
                margin: -38px 52px 0 auto;
            }

            @include xs {
                margin-top: -28px;
            }
        }
    }

    &__description {
        max-width: 653px;

        @include lg {
            max-width: 100%;
        }
    }

    &__pattern {
        &--each {
            width: 100%;
            height: auto;
            position: absolute;
            user-select: none;
            pointer-events: none;

            &__1 {
                top: -32%;
                left: 0;
                width: 15.2%;
                z-index: 1;
            }
        }
    }
}