.site-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 26px 0 24px;
    background-color: $purple;
    color: $white;

    @include lg {
        padding: 22px 0 20px;
    }

    @include xs {
        padding: 20px 0 18px;
    }

    .container {
        max-width: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        line-height: 1;
        font-weight: 700;

        img,
        svg {
            width: 100%;
            height: auto;
        }
    }

    &__actions {
        p {
            line-height: 1;

            i {
                margin-right: 43px;

                @include xs {
                    display: none;
                }
            }
        }
    }
}