.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-demi {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 800;
}

h1,
.h1 {
    font-size: 65px;
    line-height: 1.2;
    font-weight: 700;

    @include xl {
        font-size: 56px;
    }

    @include lg {
        font-size: 48px;
    }

    @include xs {
        font-size: 36px;
    }
}

h2,
.h2 {
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;

    @include xl {
        font-size: 38px;
    }

    @include lg {
        font-size: 33px;
    }

    @include xs {
        font-size: 22px;
    }
}

h3,
.h3 {}

h4,
.h4 {
    font-size: 32px;
    line-height: 1.387;

    @include sm {
        font-size: 26px;
    }
}

h5,
.h5 {
    font-size: 29px;
    line-height: 1.379;

    @include sm {
        font-size: 24px;
    }

    @include xs {
        font-size: 20px;
    }
}

h6,
.h6 {
    font-size: 26px;
    line-height: 1.46;
    font-weight: 400;
    font-family: $font-inter !important;

    @include xl {
        font-size: 22px;
    }

    @include lg {
        font-size: 20px;
    }

    @include xs {
        font-size: 18px;
    }
}

p,
.normal {}

.copy-lg {}

.copy-md {}

.copy-sm {
    font-size: 22px;
    line-height: 1.4;

    @include sm {
        font-size: 20px;
    }

    @include xs {
        font-size: 18px
    }
}

.btn {
    @extend .h2;
    font-family: $font-kollectif;
    font-weight: 700;
    line-height: 1;
    padding: 26px 72px 21px;
    border-radius: 47px;
    border: 0;
    outline: none;
    letter-spacing: 1.27px;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px #00000029;

    @include xl {
        font-size: 34px;
        padding: 23px 60px 20px;
    }

    @include lg {
        font-size: 30px;
        padding: 21px 56px 18px;
    }

    &:focus,
    &:active,
    &:active:focus {
        box-shadow: 0 0 0 0.25rem rgba($purple, 0.5);
    }

    @include xs {
        font-size: 21px;
        padding: 14px 24px;
    }

    &-purple {
        color: $white !important;
        background: $purple;

        &:hover,
        &:focus {
            background: $purple;
            box-shadow: 0 0 0 0.25rem rgba($purple, 0.5);
        }
    }

    &-gray {
        color: $white !important;
        background: $gray;

        &:hover,
        &:focus {
            background: $gray;
            box-shadow: 0 0 0 0.25rem #48484863;
        }
    }
}